<div class="search-region">
  <label class="visually-hidden" for="header-product-search">Search products</label>
  <input
    #searchInput
    id="header-product-search"
    type="search"
    name="search"
    autocomplete="off"
    placeholder="Search"
    [value]="searchDraft()"
    (input)="updateSearch(searchInput.value)"
  />
  <img class="search-icon" src="../../../../../../assets/images/Search.svg" alt="" width="18" height="18" />
</div>

@if (searchNavigationError()) {
  <p class="visually-hidden" role="alert" aria-live="assertive">
    {{ searchNavigationError() }}
  </p>
}
